<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Indus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9F758891E9F607B00B69C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F758A21E9F607D00B69C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9F758AD1E9F607D00B69C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
